.tab-active {
    opacity: 1.0;
    color: white;
    font-weight: bold;
}
.tab {
    opacity: 0.8;
    color: white;
}

a:hover, a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}