img {
  border-radius: 10px;
}

.media{
  padding: 10px 5px;
  border-radius: 10px;
  background-color:rgba(80,80,80, 0.8);
}

.logout{
  text-align: center;
  width: 60px;
  height: auto;
  font-size: 10px;
}
