img {
  border-radius: 10px;
}

.media{
  padding: 10px 5px;
  border-radius: 10px;
  background-color:rgba(0,0,0);
}

.logout{
  text-align: center;
  width: 60px;
  height: auto;
  font-size: 10px;
}

.profile-pic{
  width:100px;
  height:100px;
}

#prof-pic{
  background-color: #1f2325;
  width:100%;
  border-radius: 3px;
  color: white;
}

.picSubmit{
  background-color: #0066c0;
  height: 35px;
  font-weight: bold;
}
/* todo 

2 button same siz:
upload to show when there a file selected*/